/* General Button Styles */
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Primary Button */
  .btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
  }
  
  .btn-primary:hover {
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
  }
  
  /* Secondary Button */
  .btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
    border: 1px solid var(--secondary-color);
  }
  
  .btn-secondary:hover {
    background-color: var(--secondary-color-dark);
    border-color: var(--secondary-color-dark);
  }
  
  /* Transparent Button with Primary Border */
  .btn-transparent{
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .btn-transparent:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
  /* Disabled Button */
  .btn:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    border-color: #ccc;
  }
  